Repository Typing-Monkeys/complex-network-link-prediction, pull requests merged in 2023-03, with the labels that each got.

#20 Aggiunto Path of Length 3 (L3)
  src/social_network_link_prediction/similarity_methods/quasi_local_methods/path_of_length_three.py
  src/test.py
  src/utils/__init__.py
  src/utils/nodes_to_indexes.py
Labels: method

#19 Aggiunto Local Path Index Method
  src/social_network_link_prediction/similarity_methods/quasi_local_methods/LPI.py
  src/test.py
Labels: method

#21 Common Neighbors Index
  src/social_network_link_prediction/__init__.py
  src/social_network_link_prediction/similarity_methods/__.init__.py
  src/social_network_link_prediction/similarity_methods/__init__.py
  src/social_network_link_prediction/similarity_methods/local_similarity/__init__.py
  src/social_network_link_prediction/similarity_methods/local_similarity/common_neighbors.py
  src/social_network_link_prediction/similarity_methods/quasi_local_methods/path_of_length_three.py
  src/test.py
Labels: fix, method

#22 Jaccard Measure
  src/social_network_link_prediction/similarity_methods/local_similarity/__init__.py
  src/social_network_link_prediction/similarity_methods/local_similarity/common_neighbors.py
  src/social_network_link_prediction/similarity_methods/local_similarity/jaccard.py
  src/test.py
  src/utils/__init__.py
  src/utils/nodes_to_indexes.py
Labels: method

#25 Resource Allocation Index
  src/social_network_link_prediction/similarity_methods/local_similarity/__init__.py
  src/social_network_link_prediction/similarity_methods/local_similarity/resource_allocation.py
  src/test.py
Labels: method

#26 Cosine Similarity Index
  src/social_network_link_prediction/similarity_methods/local_similarity/__init__.py
  src/social_network_link_prediction/similarity_methods/local_similarity/cosine_similarity.py
  src/test.py
Labels: method

#28 Hub Promoted Index
  src/social_network_link_prediction/similarity_methods/local_similarity/__init__.py
  src/social_network_link_prediction/similarity_methods/local_similarity/hub_promoted.py
  src/test.py
Labels: method

#29 Hub Depressed Index
  src/social_network_link_prediction/similarity_methods/local_similarity/__init__.py
  src/social_network_link_prediction/similarity_methods/local_similarity/hub_depressed.py
  src/test.py
Labels: method

#32 Katz Index
  src/social_network_link_prediction/similarity_methods/__init__.py
  src/social_network_link_prediction/similarity_methods/global_similarity/__init__.py
  src/social_network_link_prediction/similarity_methods/global_similarity/katz_index.py
  src/test.py
  utils/requirements.txt
Labels: method

#34 Makefile
  Makefile
  requirements/requirements-doc.txt
  requirements/requirements.txt
  venv_setup.sh
Labels: enhancement

#36 feature/svd
  src/social_network_link_prediction/dimensionality_reduction_methods/svd.py
Labels: method
